<div>
  <ul>
    <li ng-repeat="promise in game.promises" ng-show="game.game.currentPromise === $index">
      <div class="card" hdo-card="game" on-swipe-left="game.swipeLeft()" on-swipe-right="game.swipeRight()">
        <div class="item item-text-wrap">
          <p>{{promise.getText()}}</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="row answer-alternatives">
    <div class="col" ng-repeat="party in game.parties">
      <button class="button button-clear" type="button" ng-click="game.giveAnswer($index)">
        <img ng-src="{{party.getLogo()}}" />
      </button>
    </div>
  </div>
</div>