<div>
  <div class="alert" ng-class="{'alert-success': game.respondedCorrect, 'alert-danger': !game.respondedCorrect}" ng-show="game.respondedCorrect !== undefined">
    Svaret var {{game.correctAnswer}}
  </div>
  <ul ng-hide="game.isFinished()">
    <li ng-repeat="promise in game.promises" ng-show="game.isCurrent($index)">
      <div class="card answer-card" hdo-card="game" on-swipe-left="game.swipeLeft()" on-swipe-right="game.swipeRight()">
        <div class="item item-text-wrap">
          <p>{{promise.getCensored()}}</p>
        </div>
      </div>
    </li>
  </ul>
  <div ng-hide="game.isFinished()" class="row answer-alternatives">
    <div class="col" ng-repeat="party in game.parties">
      <button class="button button-clear" type="button" ng-click="game.giveAnswer($index)">
        <img ng-src="{{party.getLogo()}}" />
      </button>
    </div>
  </div>
  <div ng-show="game.isFinished()" class="card">
    <div class="item item-divider">Du fikk {{game.getScore()}} av {{game.promises.length}} riktige!</div>
    <div class="item item-text-wrap">
      <ul class="list">
        <li class="item" ng-repeat="promise in game.promises">
          <p><strong>Løfte:</strong> {{promise.getText()}}</p>
          <p><strong>Du svarte:</strong> {{game.getResponse($index)}}
          <p><strong>Riktig svar:</strong> {{promise.getPromisor()}}
        </li>
      </ul>
    </div>
    <div class="item item-divider">
      <a ui-sref="root.start">Tilbake til start</a>
    </div>
  </div>
</div>